{% extends "base_vue.html" %}
{% block title %}Тест заполнен{% endblock %}
{% block content %}
    <h4 style="text-align: center; margin-bottom: 15px;">Тест заполнен</h4>

    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if points == 0 %}
                    <div class="alert alert-warning" role="alert">
                        <h5 class="alert-heading">Вы не получили баллы...</h5>
                        <p>Не волнуйтесь, мы учимся на ошибках!</p>
                        <hr>
                        <p class="mb-0">Всего у вас {{ enrollment.points }} {{ total_points_word }}.</p>
                    </div>
                {% elif points < max_points %}
                    <div class="alert alert-warning" role="alert">
                        <h5 class="alert-heading">Вы получили неполное количество баллов.</h5>
                        <p>Вы получили {{ points }} {{ points_word }} из {{ max_points }}!</p>
                        <hr>
                        <p class="mb-0">Всего у вас {{ enrollment.points }} {{ total_points_word }}.</p>
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        <h5 class="alert-heading">Вы получили максимальное количество баллов!</h5>
                        <p>Вы ответили правильно на все вопросы и получили {{ points }} {{ points_word }}!</p>
                        <hr>
                        <p class="mb-0">Всего у вас {{ enrollment.points }} {{ total_points_word }}.</p>
                    </div>
                {% endif %}

                {% for task in lesson.tasks %}
                    <div class="card">
                        <div class="card-body">

                            <h5>{{ task.question }}</h5>

                            {% set question_loop = loop %}
                            {% for variant in task.variants %}
                                <div class="form-check my-2">
                                    {% if loop.index0|string == request.form['question_%s' % question_loop.index0] %}
                                        <input class="form-check-input" type="radio" checked disabled>
                                    {% else %}
                                        <input class="form-check-input" type="radio" disabled>
                                    {% endif %}

                                    {% if variant.points >= 1 %}
                                        <b style="color: green">
                                            {{ variant.text }}
                                        </b>
                                        <i>
                                            ( + {{ variant.points }})
                                        </i>
                                    {% else %}
                                        <b>
                                            {{ variant.text }}
                                        </b>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <p></p>
                {% endfor %}


            </div>
        </div>
    </div>

    <p></p>

    <p style="text-align: center">
        <small>Окно закроется автоматически через 5 секунд.</small>
        <br>
        <small>Вы можете закрыть его кнопкой ниже</small>
    </p>

    <div class="d-grid gap-2 col-3 mx-auto">
        <button class="btn btn-success btn-lg" id="submit_button" onclick="closeButton()">Закрыть</button>
    </div>

    <p></p>

    <script>
        setTimeout(function () {
            window.parent.postMessage('close-modal-success', '*');
            window.close();
        }, 5000)

        function closeButton () {
            window.parent.postMessage('close-modal-success', '*');
            window.close();
        }
    </script>
{% endblock %}