{% extends 'base_vue.html' %}

{% block title %}Редактор курсов{% endblock %}

{% block content %}
    {% raw %}
        <div id="app" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar bg-body-tertiary">
                        <div class="container-fluid">
                            <span class="navbar-brand mb-0 h1">Редактор пациентских курсов</span>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <ol class="list-group px-2 py-2">
                        <li class="list-group-item justify-content-between align-items-start" aria-current="true"
                            v-for="course in courses"
                            :class="{ active: selected_course && course.id === selected_course.id }"
                            @click="selectCourse(course)">
                            <div v-if="edited_course && course.id === edited_course.id">
                                <div class="row px-0 py-0 gx-1">
                                    <div class="col-10 d-flex">
                                        <input v-model="course.title" type="text" class="form-control form-control-sm">
                                    </div>
                                    <div class="col-2">
                                        <button @click="saveCourse(course)" class="btn btn-sm btn-primary col-12"><i
                                                class="bi bi-check"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div v-else class="col-12 d-flex">
                                <div class="ms-2 me-auto">
                                    {{ course.title }}
                                </div>

                            </div>
                        </li>
                    </ol>
                    <div class="row px-2 py-2 gx-1">
                        <div class="col-10">
                            <input v-model="new_course_title" type="text" class="form-control" placeholder="Новый курс">
                        </div>
                        <div class="col-2">
                            <button @click="addCourse()" class="btn btn-primary col-12"><i class="bi bi-plus"></i>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="col-md-9">
                    <div class="alert alert-warning my-2" v-if="error">
                        {{ error }}
                    </div>
                    <div v-if="selected_course">
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-success btn-sm mx-1 my-2" @click="edit(selected_course)">
                                Редактировать курс
                            </button>
                        </div>

                        <!-- редактирование курса и дипломы -->

                        <div class="mb-3" v-if="selected_course.editcourse">
                            <div class="card">
                                <div class="card-body">

                                    <h6>Основная информация</h6>

                                    <div class="mb-3">
                                        <label class="form-label">Название</label>
                                        <input type="text" class="form-control" v-model="selected_course.title">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">ID</label>
                                        <input type="text" class="form-control" v-model="selected_course.id" disabled>
                                        <div class="form-text">ID курса нельзя изменить</div>
                                    </div>

                                    <p></p>

                                    <h6>Дипломы</h6>

                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               v-model="selected_course.show_diploma">
                                        <label class="form-check-label">Выдавать дипломы</label>
                                    </div>

                                    <div v-if="selected_course.show_diploma">

                                        <div class="row g-3 align-items-center">
                                            <div class="col-auto">
                                                <label for="inputPassword6" class="col-form-label">За</label>
                                            </div>
                                            <div class="col-auto">
                                                <input type="number" class="form-control"
                                                       v-model="selected_course.diploma_points">
                                            </div>
                                            <div class="col-auto">
                            <span class="form-text">
                              баллов
                            </span>
                                            </div>
                                        </div>

                                        <div class="form-check mt-3">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   v-model="selected_course.show_info_name">
                                            <label class="form-check-label">
                                                Имя
                                            </label>
                                        </div>

                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   v-model="selected_course.show_info_date">
                                            <label class="form-check-label">
                                                Дата
                                            </label>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Шаблон</label>
                                            <input class="form-control" type="text"
                                                   v-model="selected_course.diploma_template">
                                            <div class="form-text">Введите ссылку на файл с шаблоном диплома</div>
                                        </div>

                                        <div v-if="selected_course.show_info_name">
                                            <div class="mb-3">
                                                <label class="fotm-control">Расположение имени</label>
                                                <select class="form-select"
                                                        v-model="selected_course.diploma_name_location">
                                                    <option value="center">Центр</option>
                                                    <option value="right">Справа</option>
                                                    <option value="left">Слева</option>
                                                </select>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Размер шрифта для имени</label>
                                                <input type="number" class="form-control"
                                                       v-model="selected_course.diploma_name_size">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Положение X для имени</label>
                                                <input type="number" class="form-control"
                                                       v-model="selected_course.diploma_name_x">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Положение Y для имени</label>
                                                <input type="number" class="form-control"
                                                       v-model="selected_course.diploma_name_y">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Цвет шрифта для имени</label>
                                                <input type="text" class="form-control"
                                                       v-model="selected_course.diploma_name_color">
                                                <div class="form-text">Введите цвет в формате HEX. Для выбора цвета
                                                    можно
                                                    использовать
                                                    <a href="https://htmlcolorcodes.com/color-picker/">этот сайт</a>
                                                </div>
                                            </div>

                                        </div>

                                        <div v-if="selected_course.show_info_date">
                                            <div class="mb-3">
                                                <label class="fotm-control">Расположение даты</label>
                                                <select class="form-select"
                                                        v-model="selected_course.diploma_date_location">
                                                    <option value="center">Центр</option>
                                                    <option value="right">Справа</option>
                                                    <option value="left">Слева</option>
                                                </select>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Размер шрифта для даты</label>
                                                <input type="number" class="form-control"
                                                       v-model="selected_course.diploma_date_size">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Положение X для даты</label>
                                                <input type="number" class="form-control"
                                                       v-model="selected_course.diploma_date_x">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Положение Y для даты</label>
                                                <input type="number" class="form-control"
                                                       v-model="selected_course.diploma_date_y">
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Цвет шрифта для даты</label>
                                                <input type="text" class="form-control"
                                                       v-model="selected_course.diploma_date_color">
                                                <div class="form-text">Введите цвет в формате HEX. Для выбора цвета
                                                    можно
                                                    использовать
                                                    <a href="https://htmlcolorcodes.com/color-picker/">этот сайт</a>
                                                </div>
                                            </div>


                                        </div>


                                    </div>

                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="btn btn-success btn-sm mx-1 my-2" @click="saveCourse(course)">
                                            Сохранить
                                        </button>
                                        <button class="btn btn-danger btn-sm mx-1 my-2"
                                                @click="askForCourseDeletion(selected_course)">Удалить курс
                                        </button>
                                        <div class="form-text"><b>Не забудьте сохранить изменения!</b></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion py-2" id="lessons" v-if="selected_course">
                        <div class="accordion-item" v-for="(lesson, i) in lessons">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        :data-bs-target="'#lesson' + i" aria-expanded="false"
                                        :aria-controls="'lesson' + i">
                                    {{ lesson.title }}
                                </button>

                            </h2>

                            <div :id="'lesson' + i" class="accordion-collapse collapse" data-bs-parent="#lessons">
                                <div class="accordion-body">
                                    <h6>Информационное сообщение</h6>
                                    <div class="mb-3">
                                        <label class="form-label form-label-sm">Название</label>
                                        <input type="text" class="form-control" v-model="lesson.title"
                                               placeholder="Введите название курса">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label form-label-sm">Текст</label>
                                        <textarea class="form-control" rows="5" v-model="lesson.text"
                                                  placeholder="Введите текст для курса"></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label form-label-sm">День отправки</label>
                                        <input type="number" class="form-control" v-model="lesson.day">
                                    </div>

                                    <h6>Вложения</h6>

                                    <div class="row g-3 align-items-center py-1"
                                         v-for="attachment in lesson.attachments">
                                        <div class="col-auto">
                                            <label class="col-form-label col-form-label-sm">URL</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="text" class="form-control form-control-sm"
                                                   v-model="attachment.url">
                                        </div>
                                        <div class="col-auto">
                                            <label class="col-form-label col-form-label-sm">Название</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="text" class="form-control form-control-sm"
                                                   v-model="attachment.title">
                                        </div>
                                        <div class="col-auto">
                                            <label class="col-form-label col-form-label-sm">Закрепить?</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="checkbox" v-model="attachment.store_as_info">
                                        </div>
                                        <div class="col-auto">
                                            <a href="#" @click="askForAttachmentDeletion(lesson, attachment)"><span
                                                    class="badge bg-danger rounded-pill mx-1"><i
                                                    class="bi bi-x"></i></span></a>
                                        </div>
                                    </div>
                                    <div v-if="lesson.attachments.length === 0" class="px-1">Вложений не добавлено</div>


                                    <button class="btn btn-success btn-sm mx-1 my-2 mb-3"
                                            @click="addAttachment(lesson)">
                                        Добавить вложение
                                    </button>

                                    <h6>Вопросы</h6>

                                    <div class="accordion" :id="'lesson' + i + '_tasks'">
                                        <div class="accordion-item" v-for="(task, j) in lesson.tasks">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button p-2" type="button"
                                                        data-bs-toggle="collapse"
                                                        :data-bs-target="'#lesson' + i + '_task' + j"
                                                        aria-expanded="true"
                                                        :aria-controls="'lesson' + i + '_task' + j">
                                                    <small>{{ task.question }}</small>
                                                </button>
                                            </h2>
                                            <div :id="'lesson' + i + '_task' + j"
                                                 class="accordion-collapse collapse show"
                                                 :data-bs-parent="'#lesson' + i + '_tasks'">
                                                <div class="accordion-body">

                                                    <h6>Информация</h6>

                                                    <div class="mb-3">
                                                        <small class="form-label form-label-sm">Текст вопроса</small>
                                                        <input type="text" class="form-control" v-model="task.question">
                                                    </div>

                                                    <div class="mb-3">
                                                        <small class="form-label form-label-sm">Изображение</small>
                                                        <input type="text" class="form-control" v-model="task.image">
                                                        <div class="form-text">Введите ссылку на изображение</div>
                                                    </div>

                                                    <h6>Варианты ответа</h6>

                                                    <div class="row g-3 align-items-center py-1"
                                                         v-for="variant in task.variants">
                                                        <div class="col-auto">
                                                            <label class="col-form-label col-form-label-sm">Ответ</label>
                                                        </div>
                                                        <div class="col-auto">
                                                            <input type="text" class="form-control form-control-sm"
                                                                   v-model="variant.text">
                                                        </div>
                                                        <div class="col-auto">
                                                            <label class="col-form-label col-form-label-sm">Баллы</label>
                                                        </div>
                                                        <div class="col-auto">
                                                            <input type="number" class="form-control form-control-sm"
                                                                   v-model="variant.points">
                                                        </div>
                                                        <div class="col-auto">
                                                            <a href="#"
                                                               @click="askForVariantDeletion(task, variant)"><span
                                                                    class="badge bg-danger rounded-pill mx-1"><i
                                                                    class="bi bi-x"></i></span></a>
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <button class="btn btn-success btn-sm mx-1 my-2 mb-3 mt-3"
                                                                @click="addVariant(task)">
                                                            Добавить ответ
                                                        </button>
                                                        <button class="btn btn-danger btn-sm mx-1 my-2 mb-3 mt-3"
                                                                @click="askForTaskDeletion(lesson, task)">
                                                            Удалить вопрос
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="lesson.tasks.length === 0" class="px-1">Вопросов не добавлено</div>

                                    <!---->

                                    <div>
                                        <button class="btn btn-success btn-sm mx-1 my-2 mb-3 mt-3"
                                                @click="addTask(lesson)">
                                            Добавить вопрос
                                        </button>
                                        <button class="btn btn-danger btn-sm mx-1 my-2 mb-3 mt-3"
                                                @click="askForLessonDeletion(lesson)">
                                            Удалить урок
                                        </button>
                                    </div>

                                    <p></p>


                                </div>
                            </div>
                        </div>

                        <button @click="addLesson()" class="btn btn-primary btn-sm mx-1 my-2">Добавить урок</button>
                        <button @click="saveAll()" class="btn btn-success btn-sm mx-1 my-2">Сохранить</button>
                    </div>


                </div>
            </div>

        </div>
    {% endraw %}
    <script>
        const {createApp} = Vue

        createApp({
            data() {
                return {
                    courses: [],
                    selected_course: undefined,
                    edited_course: undefined,
                    endpoint: undefined,
                    new_course_title: "",
                    lessons: [],
                    error: "",
                    diplomas: {}
                }
            },
            methods: {
                setupEndpoint() {
                    this.endpoint = window.location.protocol + '//' + window.location.host + '/editor/api'
                },
                loadCourses() {
                    self = this
                    fetch(this.endpoint + '/courses').then(response => response.json()).then(data => {
                        self.courses = data
                    })
                },
                edit: function (course) {
                    if (course.editcourse === true) {
                        course.editcourse = false
                    } else {
                        course.editcourse = true
                    }
                },
                addCourse() {
                    self = this
                    fetch(this.endpoint + '/courses', {
                        method: "POST",
                        body: JSON.stringify({"title": this.new_course_title}),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    }).then(response => response.json()).then(data => {
                        self.courses.push(data)
                        self.new_course_title = ""
                    })
                },
                saveCourse() {
                    self = this
                    fetch(this.endpoint + '/courses/' + this.selected_course.id, {
                        method: "PUT",
                        body: JSON.stringify({
                            "title": this.selected_course.title,
                            "show_diploma": this.selected_course.show_diploma,
                            "show_info_name": this.selected_course.show_info_name,
                            "show_info_date": this.selected_course.show_info_date,
                            "diploma_points": this.selected_course.diploma_points,
                            "diploma_template": this.selected_course.diploma_template,
                            "diploma_name_location": this.selected_course.diploma_name_location,
                            "diploma_name_size": this.selected_course.diploma_name_size,
                            "diploma_name_x": this.selected_course.diploma_name_x,
                            "diploma_name_y": this.selected_course.diploma_name_y,
                            "diploma_name_color": this.selected_course.diploma_name_color,
                            "diploma_date_location": this.selected_course.diploma_date_location,
                            "diploma_date_size": this.selected_course.diploma_date_size,
                            "diploma_date_x": this.selected_course.diploma_date_x,
                            "diploma_date_y": this.selected_course.diploma_date_y,
                            "diploma_date_color": this.selected_course.diploma_date_color
                        }),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    }).then(response => response.json()).then(data => {
                        this.edited_course = undefined
                    })
                    alert("Изменения сохранены!")
                },
                selectCourse(course) {
                    self = this
                    fetch(this.endpoint + '/courses/' + course.id + '/lessons').then(response => response.json()).then(data => {
                        self.lessons = data.sort((a, b) => a.id - b.id)
                        self.selected_course = course
                    })

                },
                editCourse(course) {
                    this.edited_course = course
                },
                deleteCourse(course) {
                    self = this

                    fetch(this.endpoint + '/courses/' + course.id, {method: "DELETE"}).then(response => response.json()).then(data => {
                        position = self.courses.indexOf(course)
                        self.courses.splice(position, 1);
                    })
                },
                askForCourseDeletion(course) {
                    let result = confirm("Удалить курс " + course.title + "?");

                    if (result) {
                        this.deleteCourse(course)
                    }
                },
                addLesson() {
                    let day = 1

                    if (this.lessons.length > 0) {
                        day = this.lessons[this.lessons.length - 1] + 7
                    }

                    this.lessons.push({tasks: [], attachments: [], day: day})
                },

                askForLessonDeletion(lesson) {
                    let result = confirm("Вы действительно хотите удалить урок " + lesson.title + "?");
                    let self = this
                    if (result) {
                        if (lesson.id) {
                            fetch(this.endpoint + '/courses/' + this.selected_course.id + '/lessons/' + lesson.id, {method: "DELETE"}).then(response => response.json()).then(data => {
                            })
                        }
                        position = self.lessons.indexOf(lesson)
                        self.lessons.splice(position, 1);
                    }
                },
                addAttachment(lesson) {
                    lesson.attachments.push({})
                },
                askForAttachmentDeletion(lesson, attachment) {
                    let result = confirm("Удалить вложение?");

                    if (result) {
                        position = lesson.attachments.indexOf(attachment)
                        lesson.attachments.splice(position, 1);
                    }
                },
                addTask(lesson) {
                    lesson.tasks.push({variants: [{}, {}]})
                },
                askForTaskDeletion(lesson, task) {
                    let result = confirm("Удалить вопрос?");

                    if (result) {
                        position = lesson.tasks.indexOf(task)
                        lesson.tasks.splice(position, 1);
                    }
                },
                addVariant(task) {
                    task.variants.push({})
                },
                askForVariantDeletion(task, variant) {
                    if (task.variants.length === 2) {
                        alert("В вопросе не может быть меньше двух вариантов ответа")
                    } else {
                        let result = confirm("Удалить ответ?");

                        if (result) {
                            position = task.variants.indexOf(variant)
                            task.variants.splice(position, 1);
                        }
                    }

                },
                async saveAll() {
                    for (let lesson of this.lessons) {
                        if (!(await this.save(lesson))) {
                            return false
                        }
                    }
                    alert("Изменения сохранены!")
                },
                async save(lesson) {
                    if (lesson.id) {
                        return await this.updateLesson(lesson)
                    } else {
                        return await this.postLesson(lesson)
                    }
                },
                async postLesson(lesson) {
                    let response = await fetch(this.endpoint + '/courses/' + this.selected_course.id + '/lessons', {
                        method: "POST",
                        body: JSON.stringify(lesson),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    })

                    if (response.status === 200) {
                        let data = await response.json()
                        lesson.id = data.id
                        return true
                    } else {
                        let data = await response.text()
                        alert(data)
                        return false
                    }
                },
                async updateLesson(lesson) {
                    let response = await fetch(this.endpoint + '/courses/' + this.selected_course.id + '/lessons/' + lesson.id, {
                        method: "PUT",
                        body: JSON.stringify(lesson),
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                    })

                    if (response.status === 200) {
                        let data = await response.json()
                        lesson.id = data.id
                        return true
                    } else {
                        let data = await response.text()
                        alert(data)
                        return false
                    }
                }
            },
            mounted() {
                this.setupEndpoint()
                this.loadCourses()
            }
        }).mount('#app')
    </script>
{% endblock %}