{% extends 'base_vue.html' %}

{% block title %}Предпросмотр курса {{ course.title }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                        <span class="navbar-brand mb-0 h1">Предпросмотр курса {{ course.title }}</span>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if message %}
                    <div class="alert alert-success my-2">{{ message }}</div>
                {% endif %}

                <div class="accordion py-2" id="lessons">
                    {% for lesson in course.lessons %}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#lesson{{ lesson.id }}" aria-expanded="false">
                                    {{ lesson.title }} (день {{ lesson.day }})
                                </button>
                            </h2>
                            <div id="lesson{{ lesson.id }}" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <h6>Текст сообщения</h6>

                                    <p>{{ lesson.text | replace('\n', '<br>') | safe }}</p>

                                    {% if lesson.attachments %}
                                        <h6>Вложения</h6>

                                        <ul>
                                            {% for attachment in lesson.attachments %}
                                                {% if attachment.title %}
                                                    <li><a target="_blank"
                                                           href="{{ attachment.url }}">{{ attachment.title }}</a>
                                                        {% if attachment.store_as_info %}<i>(сохранится
                                                            в списке материалов)</i>{% endif %}</li>
                                                {% else %}
                                                    <li><a target="_blank"
                                                           href="{{ attachment.url }}">{{ attachment.url }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    {% if lesson.tasks %}
                                        <h6>Вопросы</h6>

                                        {% for task in lesson.tasks %}
                                            <p><strong>{{ task.question }}</strong></p>
                                            <ul>
                                                {% for variant in task.variants %}
                                                    <li>{{ variant.text }} <i>(баллов -
                                                        <strong>{{ variant.points }}</strong>)</i></li>
                                                {% endfor %}
                                            </ul>
                                        {% endfor %}
                                    {% endif %}

                                    <form method="POST">
                                        <input type="hidden" name="lesson_id" value="{{ lesson.id }}"/>
                                        <button class="btn btn-sm btn-primary">Отправить сейчас</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}