{% extends 'base_vue.html' %}

{% block title %}Тест{% endblock %}

{% block content %}

    <script>
        function disableButton() {
            document.querySelector('#submit_button').disabled = true;
        }
    </script>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    {% for task in lesson.tasks %}
                        <div class="card my-2">

                            <div class="card-body">
                                <h5>{{ task.question }}</h5>

                                {% if task.image %}
                                    <img src="{{ task.image }}" class="my-2" style="max-width: 80%;"/>
                                {% endif %}

                                {% set question_loop = loop %}
                                {% for variant in task.variants %}
                                    <div class="form-check my-2">
                                        <input class="form-check-input" type="radio"
                                               name="question_{{ question_loop.index0 }}" value="{{ loop.index0 }}">
                                        <label class="form-check-label">
                                            {{ variant.text }}
                                        </label>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>

                    {% endfor %}
                    <button class="btn btn-success btn-lg" id="submit_button" onclick="disableButton()">Ответить</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}